<template>
    <div class="container">
        <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">

            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users List</h3>
                        <div class="card-tools">
                            <button class="btn btn-primary mr-3" @click="AddNew" >
                                Add New <i class="fa fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Registered At</th>
                                <th>Action</th>
                            </tr>

                            <tr v-for="(user,index) in users.data" :key="user.id">
                                <td>{{index+1}}</td>
                                <td>{{user.name  }}</td>
                                <td>{{user.email}}</td>
                                <td><span class="tag tag-success">{{user.type | upText}}</span></td>
                                <td>{{user.created_at | myDate}}</td>
                                <td>
                                    <a href="" @click.prevent="editUser(user)">
                                        <i class="cyan fa fa-edit"></i>
                                    </a>
                                    <a href="" @click.prevent="deleteUser(user.id)">
                                        <i class="red fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" id="cdid">
                        <span class="d-flex justify-content-center">
                            <pagination :data="users" @pagination-change-page="getResults"></pagination>
                        </span>

                    </div>
                    <span class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <button  @click.prevent = "printUser" type="button" class="btn btn-primary btn-lg">Print</button>
                        <button @click.submit = "printPdf" type="button" class="btn btn-success btn-lg">PDF</button>
                        <button type="button" class="btn btn-secondary">Excel</button>
                    </div>
                    </span>

                </div>
                <!-- /.card -->
            </div>
        </div>

        <!-- Button trigger modal -->
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-show="!editMode" id="modelTitleId">Add New</h4>
                        <h4 class="modal-title" v-show="editMode" id="modelTitleId">Update User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="" @submit.prevent = "editMode ? updateUser() : CreateUser()">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name"
                                    placeholder="Name"   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>
                            <div class="form-group">
                              <input v-model="form.email" type="email" name="email"
                                       placeholder="Email"   class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>
                            <div class="form-group">
                                <textarea v-model="form.bio" name="bio"
                                       placeholder="Short Biodata for user(Optional)"   class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }">
                                </textarea>
                                <has-error :form="form" field="bio"></has-error>
                            </div>
                            <div class="form-group">
                                <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                    <option value="">Select User Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                    <option value="author">Author</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                            </div>
                            <div class="form-group">
                                <input v-model="form.password" type="password" name="password"
                                       placeholder="Password"   class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-primary">Update</button>
                        <button v-show = "!editMode" type="submit" class="btn btn-success">Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Every Single Component Return some data

export default {
  data() {
    return {
      editMode: false,
      users: {},
      form: new Form({
        id: "",
        name: "",
        email: "",
        password: "",
        type: "",
        bio: "",
        photo: ""
      })
    };
  },
  methods: {
      printPdf(){
          var pdfFile = new Blob([data], {
              type: "application/pdf"
          });
          var pdfUrl = URL.createObjectURL(pdfFile);
          //window.open(pdfUrl);
          printJS(pdfUrl);
      },
      printUser(){
         window.print();
      },
      findUser(){
          let search = this.$parent.search
          axios.get('api/finduser?q='+search)
              .then(({ data }) => (this.users = data))
              .catch(()=>{

              })
      },
      getResults(page = 1) {
          axios.get('api/user?page=' + page)
              .then(response => {
                  this.users = response.data;

              });
      },
    updateUser() {
      // console.log("edit Mode");
      this.$Progress.start();
      this.form
        .put("api/user/" + this.form.id)
        .then(() => {
          $("#addNewUser").modal("hide");
          Fire.$emit("AfterCreate");
          toast({
            type: "success",
            title: "User Updated Successfully"
          });
          this.$Progress.finish();
          // this.$router.push('/profile')  //Redirect One component to another
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    editUser(user) {
      (this.editMode = true), this.form.reset();
      this.form.clear();
      $("#addNewUser").modal("show");
      this.form.fill(user);
    },
    AddNew() {
      (this.editMode = false), this.form.reset();
      this.form.clear();
      $("#addNewUser").modal("show");
    },
    deleteUser(id) {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.form
            .delete("api/user/" + id)
            .then(() => {
              swal("Deleted!", "Your file has been deleted.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              swal("Failed!", "There was something wrong..!", "warning");
            });
        }
      });
    },
    LoadUsers() {
        if(this.$gate.isAdminOrAuthor()){
            axios.get("api/user")
                .then(({ data }) => (this.users = data));
        }
    },
    CreateUser() {
      this.$Progress.start();
      this.form
        .post("api/user")
        .then(() => {
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
          $("#addNewUser").modal("hide");
          // this.LoadUsers();
          toast({
            type: "success",
            title: "User Created Successfully"
          });
        })
        .catch(() => {
          // swal("Failed!", "There was something wrong..!", "warning");
        });
    }
  },
  created() {
    this.LoadUsers();
    // Load Data Every 3 second
    //   setInterval(()=>this.LoadUsers(),3000);
    Fire.$on("AfterCreate", () => {
      this.LoadUsers();
    });
    Fire.$on('searching',()=>{
        this.findUser();
    });
  }
};
</script>

